.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 30rem;
  height: 90vh;
  color: #fff;
  padding-top: 100px;
}

.chat-form {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid red;
  color:#fff;
  margin-left: 100px;
}

.name-field {
  margin-bottom: 40px;
  color:#fff;
  background-color: #fff;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid red;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid red;
  color:#fff;

}

h3 {
  color: #2f72da;
  

}

span {
  color:#fff;

}